body{
    background-image: url("../images/movie/background.png");
    font-size: 8pt;
    font-family: Verdana, Tahoma;
    margin: 0;
    padding: 0;
}

#nav-header{
    text-align: center;
    background-image: url("../images/movie/bannerbg.png");
}
.top_banner{
    background-color: #404040;
    margin: auto;
    width: 55%;
    height: 50px;
}

h1{
    font: 24pt bold font;
    font-family: Tahoma, Verdana;
    text-align: center;
    text-shadow: 3px 3px #999999;
}

.main_body{
    margin: auto;
    width: 800px;
    border: solid 4px gray ;
    border-radius: 20px;
}

.right-banner{
    margin-top: 0;
    width: 250px;
    float: right;
    border-top-right-radius: 20px;
    background-color: lightgreen;
}

#bellow{
    border-radius: 0;
}

.right-banner>img{
    border-top-right-radius: 16px;
}

.right-description{
    clear: both;
}

.content{
    width: 550px;
}