body{
    color: #404040;
    font-size: 11pt;
    /*font-family: "Georgia"; */
    font-family: Georgia;

    margin-right: 10%;
    margin-left: 10%;
}

a{
    color: #A4A400 ;
}

#header{
    text-align: center;
    font: bold 22pt Sans Serif;
}
h1 {
    color: #A4A400;
    background-color: #F0F0F0;
    font: bold 18pt Sans Serif;
}

.comment{
    background-color: yellow;
}

.validator{
    display: inline-flex;
    float: right;
}