body{
    background-color: darkslategrey;
    text-align: center;
}
em{
    color: yellow;
}

h1, h2, h3 {
    color: cornflowerblue;
}

h1{
    font-size: 34px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

.emoji{
    width: 100px;
    height: 100px;
}